<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="local, develop">
        <logger name="org.springframework" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.coupang.sharing" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
    <springProfile name="product">
        <logger name="org.springframework" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="com.coupang.sharing" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>